{% extends 'base.html.twig' %}

{% block title %} Homepage {% endblock %}

{% block body %}
<div class="container col-md-10 text-center">
    <h2 class="text text-success mb-3"> Welcome to our pet sale site  </h2>
    <img src="https://banner2.cleanpng.com/20180928/ofu/kisspng-dra-pety-cat-dog-pet-shop-pets-png-images-5badbc26387549.5162803315381125502313.jpg" alt="todo"
    width="1300" height="800">
</div>
{% endblock %}
